<!DOCTYPE html>
<html>
<head>
    <title>Documentation</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="http://callemall.github.io/material-ui/main.css"/>
</head>
<div id="ApplicationRootContainer"></div>
<script>window.gon={{{gon}}}</script>
<script src="standalone.js"></script>
</html>
